<article class="element">
  {{#if this.name}}
    <h1>{{this.name}}</h1>
    {{#if this.class}}
      <p>class: {{this.class}}</p>
    {{/if}}
    {{#if this.id}}
    <p>id: {{this.id}}</p>
    {{/if}}
    {{#if this.innerText}}
    <p>innerText: {{this.innerText}}</p>
    {{/if}}
    {{#if this.url}}
    <p>URL: {{this.url}}</p>
    {{/if}}
    {{#if this.children}}
      {{#each this.children}}
        {{> element this}}
      {{/each}}
    {{/if}}
  {{/if}}
</article>